<%- include('header') %>
<body>
<div class="content">
    <h1>About Me</h1>
    <section class="about">
        <h2>Hello!</h2>
        <p>Welcome to my blog. My name is Khanchai, and I am passionate about bra bra. I started this blog to share my thoughts on [topics you write about], connect with like-minded individuals, and document my journey through [related activities or goals].</p>
        
        <p>Here, you'll find posts about [briefly describe the main topics of your blog]. I hope you find the content engaging and informative. Feel free to reach out if you have any questions or just want to chat!</p>
        
        <p>Thank you for visiting!</p>
        <p></p>
        <p></p>
        <p></p>
    </section>
</div>
</body>
<%- include('footer') %>